# Train-Test split of Avocado

#### Goal:

Splitting our dataset in differents part for having results for our Auto-ML models more comparable

Importing our already treated data set

In [1]:
import pandas as pd
df = pd.read_csv("no_nan_id.csv")
df = df.drop('Unnamed: 0',axis=1)
df.head()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year,region,Month,Day,type_conventional,type_organic
0,133,6423662,103674,5445485,4816,869687,860362,9325,0,2015,0,12,27,1,0
1,135,5487698,67428,4463881,5833,950556,940807,9749,0,2015,0,12,20,1,0
2,93,11822022,79470,10914967,13050,814535,804221,10314,0,2015,0,12,13,1,0
3,108,7899214,113200,7197641,7258,581116,567740,13376,0,2015,0,12,6,1,0
4,128,5103960,94148,4383839,7578,618395,598626,19769,0,2015,0,11,29,1,0

Splitting of our data set in "train" and "test" with a 33% ratio

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split

train,test = train_test_split(df,test_size=0.33)

Splitting "train" and "test" in "X" and "y". 
- X having the features 
- y having the target

In [5]:
X_train = train.drop("AveragePrice",axis=1)
X_test = test.drop("AveragePrice",axis=1)

y_train = train
for col in train.columns:
    if col != "AveragePrice":
        y_train = y_train.drop(col,axis=1)

y_test = test
for col in test.columns:
    if col != "AveragePrice":
        y_test = y_test.drop(col,axis=1)

Exporting the created sub-datasets

In [10]:
X_train.to_csv("processed/x_train.csv",index=False)
y_train.to_csv("processed/y_train.csv",index=False)
X_test.to_csv("processed/x_test.csv",index=False)
y_test.to_csv("processed/y_test.csv",index=False)
train.to_csv("processed/train.csv",index=False)
test.to_csv("processed/test.csv",index=False)