# Train-Test split of Titanic

#### Goal:

Splitting our dataset in differents part for having results for our Auto-ML models more comparable

Importing our already treated data set

In [3]:
import pandas as pd
df = pd.read_csv("no_nan_no_real.csv")
df = df.drop('Unnamed: 0',axis=1)
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty,Sex_female,Sex_male
0,1,0,3,22,1,0,7,0,0,1,0,0,1,0,0,0,0,1
1,2,1,1,38,1,0,71,1,0,0,0,0,0,1,0,0,1,0
2,3,1,3,26,0,0,7,0,0,1,0,1,0,0,0,0,1,0
3,4,1,1,35,1,0,53,0,0,1,0,0,0,1,0,0,1,0
4,5,0,3,35,0,0,8,0,0,1,0,0,1,0,0,0,0,1

Splitting of our data set in "train" and "test" with a 33% ratio

In [4]:
import numpy as np
from sklearn.model_selection import train_test_split

train,test = train_test_split(df,test_size=0.33)

Splitting "train" and "test" in "X" and "y". 
- X having the features 
- y having the target

In [7]:
X_train = train.drop("Survived",axis=1)
X_test = test.drop("Survived",axis=1)

y_train = train
for col in train.columns:
    if col != "Survived":
        y_train = y_train.drop(col,axis=1)

y_test = test
for col in test.columns:
    if col != "Survived":
        y_test = y_test.drop(col,axis=1)

Exporting the created sub-datasets

In [12]:
X_train.to_csv("processed/x_train.csv",index=False)
y_train.to_csv("processed/y_train.csv",index=False)
X_test.to_csv("processed/x_test.csv",index=False)
y_test.to_csv("processed/y_test.csv",index=False)
train.to_csv("processed/train.csv",index=False)
test.to_csv("processed/test.csv",index=False)